In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
url1 = '/Users/amirrezakamkar/Desktop/Works_in_progress/Ironhack/5_5th_week/Project/2nd_project/data/df_final_web_data_pt_1.txt'
url2 = '/Users/amirrezakamkar/Desktop/Works_in_progress/Ironhack/5_5th_week/Project/2nd_project/data/df_final_web_data_pt_2.txt'

In [11]:
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)

In [17]:
df1.shape

(343141, 5)

In [19]:
df2.shape

(412264, 5)

In [21]:
df_final_web_data = pd.concat([df1, df2], axis=0, join='inner', ignore_index=True)
df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [23]:
df_final_web_data.shape

(755405, 5)

In [25]:
df_final_web_data.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [27]:
df_final_web_data.duplicated().sum()

10764

In [31]:
df_final_web_data.drop_duplicates(subset=None, keep='first', inplace=True)

In [33]:
df_final_web_data.shape

(744641, 5)

In [37]:
df_final_web_data.to_csv('df_final_web_data_cleaned.txt', index=False)