In [41]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [43]:
url = '../../data/clean/df_complete.csv'
df_complete = pd.read_csv(url)
df_complete.columns

Index(['client_id', 'visitor_id', 'visit_id', 'start_time', 'confirm_time',
       'total_time_spent', 'Variation_x', 'clnt_tenure_yr', 'clnt_age',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth', 'Variation_y',
       'gender_dichotomic'],
      dtype='object')

In [45]:
# Define the dependent and independent variables
X = df_complete[['clnt_tenure_yr', 'clnt_age', 'num_accts', 'bal','calls_6_mnth', 'logons_6_mnth', 'gender_dichotomic']] 
Y = df_complete['total_time_spent']  # dependent variable

# Add a constant to the independent variables (for the intercept term)
X = sm.add_constant(X)

# Fit the model
model = sm.OLS(Y, X).fit()

# Print the summary of the model
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       total_time_spent   R-squared:                       0.013
Model:                            OLS   Adj. R-squared:                  0.012
Method:                 Least Squares   F-statistic:                     13.62
Date:                Sun, 24 Nov 2024   Prob (F-statistic):           1.28e-17
Time:                        19:53:11   Log-Likelihood:                -59124.
No. Observations:                7483   AIC:                         1.183e+05
Df Residuals:                    7475   BIC:                         1.183e+05
Df Model:                           7
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const               273.6374    112.345      2.436      0.015      53.410     493.865
clnt_tenure_yr       -0.6760      1.216     -0.556      0.578      -3.060       1.708
clnt_age              4.5339      0.538      8.429      0.000       3.480       5.588
num_accts           -40.7184     14.769     -2.757      0.006     -69.669     -11.767
bal                1.659e-05   2.31e-05      0.719      0.472   -2.86e-05    6.18e-05
calls_6_mnth        -22.6839     34.967     -0.649      0.517     -91.228      45.861
logons_6_mnth        17.8093     35.238      0.505      0.613     -51.267      86.886
gender_dichotomic    -2.3488     16.982     -0.138      0.890     -35.638      30.940
==============================================================================
Omnibus:                     8376.668   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1845054.372
Skew:                           5.416   Prob(JB):                         0.00
Kurtosis:                      79.159   Cond. No.                     6.19e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.19e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [47]:
df_complete[df_complete['client_id'] == 755076]
# Good time customer (Control)

,client_id,visitor_id,visit_id,start_time,confirm_time,total_time_spent,Variation_x,clnt_tenure_yr,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation_y,gender_dichotomic
557,755076,780004113_76637405470,634631042_68603981172_308188,2017-06-09 01:32:17,2017-06-09 01:41:36,559.0,Control,16.0,36.0,3.0,102668.25,6.0,9.0,Control,1

In [49]:
df_complete[df_complete['client_id'] == 4647786]
# Worst time customer (Test)

,client_id,visitor_id,visit_id,start_time,confirm_time,total_time_spent,Variation_x,clnt_tenure_yr,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation_y,gender_dichotomic
3424,4647786,3318623_72481547258,391696103_92230204739_479887,2017-04-15 11:07:47,2017-04-15 15:45:20,16653.0,Test,11.0,29.5,3.0,50662.24,1.0,4.0,Test,1